<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <!-- TODO #1 - Use a loop to display job results in a table. -->
    <th:block th:each="job : ${jobs}">
        <table class="job-listing">
            <tr>
                <td>
                    ID
                </td>
                <td class="italics-style" th:text="${job.getId()}">
                </td>
            <tr>
                <td> Name
                </td>
                <td class="italics-style" th:text="${job.getName()}">
                </td>
            </tr>
            <tr>
                <td> Employer
                </td>
                <td class="italics-style" th:text="${job.getEmployer()}">
                </td>
            </tr>
            <tr>
                <td> Location
                </td>
                <td class="italics-style" th:text="${job.getLocation()}">
                </td>
            </tr>
            <tr>
                <td> Position Type
                </td>
                <td class="italics-style" th:text="${job.getPositionType()}">
                </td>

                        </tr>
                    </table>
                </th:block>




</div>

</body>
</html>